<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chinese_Vocabulary_Lists.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Chinese_Vocabulary_Lists.Properties.Settings.ChineseStudyConnectionString"
            connectionString="Data Source=CENTRAL;Initial Catalog=ChineseStudy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Chinese_Vocabulary_Lists.Properties.Settings.ChineseStudyConnectionString1"
            connectionString="Data Source=i5cte7j58u.database.windows.net;Initial Catalog=ChineseStudy;Persist Security Info=True;User ID=Leitner_Data;Password=Three-Sides3870!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Chinese_Vocabulary_Lists.Properties.Settings>
            <setting name="Know" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Studying" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlServer" serializeAs="String">
                <value>i5cte7j58u.database.windows.net</value>
            </setting>
            <setting name="UserConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="ChineseStudyConnection" serializeAs="String">
                <value />
            </setting>
        </Chinese_Vocabulary_Lists.Properties.Settings>
    </userSettings>
</configuration>